
/* .leaflet-container{
  margin-left: 100px;
  width: 1000px;
  height: 500px;
} */

body {
    margin: 0px;
  }
  
  .container {
    height: 10vh;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  
  
  #map {
    width: 100%;
    height: 50%;
  }
  
  #mapSearchContainer {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 30px;
    width: 180px;
    z-index: 110;
    font-size: 10pt;
    color: #5d5d5d;
    border: solid 1px #bbb;
    background-color: #f8f8f8;
  }
  
  .pointer {
    position: absolute;
    top: 86px;
    left: 60px;
    z-index: 99999;
  }
  
  .geocoder-control-input {
    background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
  }
  